[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "mkv-episode-matcher"
description = "The MKV Episode Matcher is a tool for identifying TV series episodes from MKV files and renaming the files accordingly."
version = "0.1.6" 
readme = "README.rst"
requires-python = ">=3.8"
license = "MIT"
keywords = []
authors = [
  { name = "Jsakkos", email = "jonathansakkos@protonmail.com" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]

dependencies = [
  "requests",
  "loguru",
  "pillow",
  "configparser",
  "tmdb_client",
  "pytesseract",
  "opensubtitlescom",
]

[project.urls]
Documentation = "https://github.com/Jsakkos/mkv-episode-matcher#readme"
Issues = "https://github.com/Jsakkos/mkv-episode-matcher/issues"
Source = "https://github.com/Jsakkos/mkv-episode-matcher"

[project.scripts]
mkv-match = "mkv_episode_matcher.__main__:main"

[tool.ruff.format]
preview = true
quote-style = "single"

[tool.ruff.lint]
preview = true
extend-select = ["C901"]

[tool.ruff.lint.extend-per-file-ignores]
"docs/.hooks/*" = ["INP001", "T201"]

[tool.ruff.lint.isort]
known-first-party = ["foo", "bar"]

[tool.coverage.run]
source_pkgs = ["mkv_episode_matcher", "tests"]
branch = true
parallel = true
omit = [
  "mkv-episode-matcher/mkv_episode_matcher/__init__.py",
]

[tool.coverage.paths]
calcy = ["mkv-episode-matcher/mkv_episode_matcher", "*/mkv-episode-matcher/mkv_episode_matcher"]
tests = ["tests", "*/mkv_episode_matcher/tests"]

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]
